.field-pane{
    background-image: url(../resources/Field.png);
    background-size: 100% 100%;
    background-repeat: no-repeat;
    margin: auto;
    min-height:540px;
    min-width:372px;
    display:flex;
    flex-direction: column;
}



.field-pane .field-home-team{
  display:flex;
  flex-direction: column-reverse;
  height: 50%;
  flex: 1.4;
}
.field-pane .field-home-team > div{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content:space-around;
  flex-grow: 1;
  
}

.field-pane .field-away-team{
  display: flex;
  flex-direction: column;
  height:50%;
  flex: 1;

}
.field-pane .field-away-team > div{
  display: flex;
  flex-direction: row;
  justify-content:space-around;
  align-items: center;
  flex-grow: 1;
}

@media (max-width:832px){
  .field-pane{
    margin: 4vh auto 0;
  }

}