.field-pane{
    background-image: url(../resources/Field.png);
    background-size: 100% 100%;
    background-repeat: no-repeat;
    margin: auto;
    min-height:520px;
    min-width:372px;

    display:flex;
    flex-direction: column;
}

.field-pane .field-home-team{
  position:relative;
  width:10% auto;
  
}
.field-pane .field-away-team{
  position:relative;

  width:auto;
}