.field-pane{
  background-image: url(../resources/Field.png);
  background-size: 100% 100%;
  background-repeat: no-repeat;
  margin: 4vh auto;
  width: 45vw;
  max-width: 520px;
  max-height: 700px;
  height: calc(100vw * .4);
  display:flex;
  position:relative;
  flex-direction: column;
}
.field-home-icon{
  position:absolute;
  left:0;
  top:0;
}
.field-home-icon > img{
  height:60px;
  width: 60px;
}
.field-away-icon{
  position:absolute;
  right: 0;
  bottom: 0;
}
.field-away-icon > img{
  height:60px;
  width:60px;
}

.field-home-team{
  display:flex;
  flex-direction: column-reverse;
  height: 50%;
}
.field-pane .field-home-team > div{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content:space-around;
  flex-grow: 1;
  
}

.field-pane .field-away-team{
  display: flex;
  flex-direction: column;
  height:50%;
  flex: 1;

}
.field-pane .field-away-team > div{
  display: flex;
  flex-direction: row;
  justify-content:space-around;
  align-items: center;
  flex-grow: 1;
}
@media (max-width:1300px){
  .field-pane{
    margin-left: 2vw;
    height: calc(100vw * 6)
  }
}
@media (max-width:768px){
  .field-pane{
    margin: 5vh auto 0vh;
    max-width: 100vw;
    max-height: none;
    width: 100vw;
    height: calc(100vw * 1.35);
  }
}