.player{
    font-size: xx-small;
    text-align: center;
    margin: auto;

}
.player-container{
  width: min-content;
}
.cards{
    height:100%;
}
.player img{
    height:30px;
    width: 30px;
}
.player .yellowcard-1 {
    margin: 0 auto;
    float:right;
    height: 7px;
    width: 5px;
    background: rgb(255, 196, 0);
  }
  .player  .yellowcard-2 {
    margin: 0;
    height:5px;
    width: 5px;
    margin: auto;
    background: rgb(255, 196, 0);
  } 
  .player  .yellowcard-3 {
    margin: 0;
    height:7px;
    width: 8px;
    margin: auto;
    background: rgb(237, 7, 7);
  } 