#html{
  width:100%;
  height:100%;
}
.App {
  background-color: #000;
  min-height: 100vh;
  min-width: 100vw;
  font-size: calc(10px + 1vmin);

  font-family: Arial, Helvetica, sans-serif;
  color: white;
}
.loading-icon{
  position: absolute;
  top:50%;
  left: 50%;
}
.team-banner{
  width:11vw;
  height: 90vh;
  flex-grow: 10%;
}
.icon-container{
  width: 80%;
  height: 84%;
  display:flex;
  flex-direction: column;
}
.team-banner .icon-container img{
  left: 0;
  width: 7vw;
  min-width: 110px;
  max-width: 130px;
  padding-top: 5vh;
  margin: 0 0 6vh 3vw;

}
header{
  font-size: 5.5vh;
  margin: 0vh 25vw 5vh 0;
  text-align:center;
  text-transform: uppercase;
  height:12vh;
  width: 65vh;
  max-height:148px;
}
header .timestamp{

  line-height: 0;
  font-weight:normal;
  font-size:2vh;
}
header .title{
  line-height: 0;
}

.App-container{
  display: flex;
  flex-direction: row;
  justify-content: center;
}
.App-pane{
  display:flex;
  flex-direction: column;
  max-width: 1600px;
  max-height: 600px;
  width:45%;
  height: 90%;
}

.components{
  display:flex;
  flex-direction: row;

}

.field-pane{
  background-image: url(resources/Field.png);
  background-size: 100% 100%;
  background-repeat: no-repeat;
  min-height: 530px;
  min-width: 373px;
  max-height: 600px;
  max-width: 400px;

}

.sub-pane{
  font-size: 14px;
  height: 100%;
  width:35vw;
  max-width:350px;
  margin: 1vh 0 0 3vw;
  display:flex;
  flex-direction: column;
}
.sub-pane-container{
  display:flex;
  flex-direction: row;
}

.sub-pane .team{
  width: 50%;
}
.sub-pane .home-sub-player{
  margin:15% 0 3vh 0;
  padding:0;
  display:flex;
  flex-direction: row;
}
.sub-pane .away-sub-player{
  text-align: right;
  margin:15% 0 3vh 0;
  display:flex;
  flex-direction: row-reverse;
  padding:0;
}
.sub-pane .away-sub-player .player-name{
  position: relative;
  margin-right: 2vw;
}
.sub-pane .home-sub-player .player-name{
  position:absolute;
  margin-left: 3vw;
}

.sub-banner{
  display: flex;
  vertical-align: middle;
  position:relative;
  flex-direction: row;
  justify-content: space-between;
  font-weight: bold;
  height:7vh;
}
.sub-banner span{
  padding:20px;
}
.sub-banner img{
  vertical-align:text-bottom;
  height: 60px;
}

@media (max-width:650px){
  
  .App{
    
    min-height:140vh;
    min-width: 100vw;
    overflow:hidden;
  }
  .App-pane{
    display:block;
    width: 100vw;
  }
  .components{
    margin: 0 auto;
    width:100vw;
    height: 100vh;
  }
  .field-pane{
    margin:5vh auto .5vh;
    
  }
  .sub-pane{
    margin:0 auto;
    max-width:100%;
    width:95vw;
  }

  .sub-pane .team ul{
    margin: 15% 12vw 15% 12vw;
    
  }
  .sub-pane .home-sub-player .player-name{
    margin-left: 7vw;
  }
  
  .sub-banner span{
    padding:20px;
    margin-left:3%;
  }
  .sub-banner img{
    vertical-align:text-bottom;
    height: 50px;
  }
  .components{
    flex-direction: column;
  }
  header{
    display:none;
  }
  .team-banner{
    display:none;
    margin:0;
  }
  .App-container{
    width:100%; 
  }
}